.start-bep.alternative {
    --color-hover: #2b3044;
    --background: #c03e5483;
    --hover-back: #3c2d9c6c;
    --hover-front: #f6f8ff;
}
.start-bep.simple {
    --background: #6487f170;
    --background-hover: #27c2a859;
}
.start-bep {
    --color: rgba(230, 241, 165, 0.658);
    --color-hover: var(--color);
    --background: #2b3044;
    --background-hover: var(--background);
    --hover-back: #6d58ff;
    --hover-front: #5c86ff;
    padding: 8px 28px;
    border-radius: 20px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.02em;
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(rgba(252, 246, 167, 0.644), black);
    color: var(--c, var(--color));
    background: var(--b, var(--background));
    transition: color 0.2s linear var(--c-d, 0.2s), background 0.3s linear var(--b-d, 0.2s);
}
.start-bep:not(.simple):before, .start-bep:not(.simple):after {
    content: '';
    position: absolute;
    background: var(--pb, var(--hover-back));
    top: 0;
    left: 0;
    right: 0;
    height: 200%;
    border-radius: var(--br, 40%);
    transform: translateY(var(--y, 50%));
    transition: transform var(--d, 0.4s) ease-in var(--d-d, 0s), border-radius 0.5s ease var(--br-d, 0.08s);
}
.start-bep:not(.simple):after {
    --pb: var(--hover-front);
    --d: 0.44s;
}
.start-bep div {
    z-index: 1;
    position: relative;
    display: flex;
}
.start-bep div span {
    display: block;
    backface-visibility: hidden;
    transform: translateZ(0);
    animation: var(--name, none) 0.7s linear forwards 0.18s;
}
.start-bep.in {
    --name: move;
}
.start-bep.in:not(.out) {
    --c: var(--color-hover);
    --b: var(--background-hover);
}
.start-bep.in:not(.out):before, .start-bep.in:not(.out):after {
    --y: 0;
    --br: 5%;
}
.start-bep.in:not(.out):after {
    --br: 10%;
    --d-d: 0.02s;
}
.start-bep.in.out {
    --name: move-out;
}
.start-bep.in.out:before {
    --d-d: 0.06s;
}
@keyframes move {
    30%, 36% {
        transform: translateY(calc(-6px * var(--move))) translateZ(0) rotate(calc(-13deg * var(--rotate) * var(--part)));
   }
    50% {
        transform: translateY(calc(3px * var(--move))) translateZ(0) rotate(calc(6deg * var(--rotate) * var(--part)));
   }
    70% {
        transform: translateY(calc(-2px * var(--move))) translateZ(0) rotate(calc(-3deg * var(--rotate) * var(--part)));
   }
}
@keyframes move-out {
    30%, 36% {
        transform: translateY(calc(6px * var(--move))) translateZ(0) rotate(calc(13deg * var(--rotate) * var(--part)));
   }
    50% {
        transform: translateY(calc(-3px * var(--move))) translateZ(0) rotate(calc(-6deg * var(--rotate) * var(--part)));
   }
    70% {
        transform: translateY(calc(2px * var(--move))) translateZ(0) rotate(calc(3deg * var(--rotate) * var(--part)));
   }
}
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
* {
    box-sizing: inherit;
}
*:before, *:after {
    box-sizing: inherit;
}

.start-bep {
    display: block;
    margin: 0 8px;
}
.start-bep:first-child {
    margin-left: 0;
}
body .start-bep:last-child {
    margin-right: 0;
}
@media (max-width: 440px) {
    body .start-bep {
        margin: 8px 0;
   }
}
